@(restaurants: Seq[Restaurant], dishes: Seq[Dish])(implicit session: Session, lang: Lang)
@main(title = "approvals") {
    @if(session.get("usertype").get.toString.equals("7")) {
    <div class="container">

      <div class="starter-template">
      
      	<h1>@Messages("approvals.restaurants_count") @restaurants.size</h1>

        @if(restaurants.size == 0) {
        <div>@Messages("approvals.all_restaurants_approved")</div>	
        } else {     	
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td><b>id</b></td>
      	    <td><b>restaurant name</b></td>
      	    <td><b>last update</b></td>
      	  </tr>
      	 </thead>
      	
		@for((restaurant, index) <- restaurants.zipWithIndex)  {	
		  <tr>
		  <td><a href="restaurantedit/@restaurant.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a> @restaurant.id</td>
		  <td>@restaurant.name</td><td>@restaurant.url</td>
		  <td>@restaurant.misc.lastupdate.format("dd MMM YYYY HH:mm:ss")</td>
		  </tr>
		}
		</table>
		}

      	<h1>@Messages("approvals.dishes_count") @dishes.size</h1>
        @if(dishes.size == 0) {
        <div>@Messages("approvals.all_dishes_approved")</div>	
        } else {      	
      	
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td><b>id</b></td>
      	    <td><b>dish name</b></td>
      	    <td><b>dish price</b></td>
      	    <td><b>user who uploaded dish</b></td>
      	    <td><b>last update</b></td>
      	  </tr>
      	 </thead>
      	
		@for((dish, index) <- dishes.zipWithIndex)  {	
		  <tr>
		  <td><a href="dishedit/@dish.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a> @dish.id</td>
		  <td>@dish.name</td><td>@dish.price</td>
		  <td>
		  @if(null != Dishes.getUploadUser(dish.id)) {
		  	@Dishes.getUploadUser(dish.id).email
		  }
		  </td>
		  <td>@dish.lastupdate.format("dd MMM YYYY HH:mm:ss")</td>
		  </tr>
		}
		</table>
		}
		
      </div>

    </div><!-- /.container -->
}
}