@(restaurants: Seq[Restaurant], newDishes: Seq[Dish], dishesWithoutImages: Seq[Dish], users: Seq[UserFull], 
	friends: Seq[Friend], reservations: Seq[Reservation], recommendCalls: Seq[ActivityLogUserStats], activities: Seq[ActivityLog],
	restaurantDrafts: Seq[Restaurant], dishDrafts: Seq[Dish]
	)

      	<h3>Calls to /api/recommend grouped by user the last 24h (@recommendCalls.foldLeft(0)(_ + _.count.toInt))</h3>
      	<table class="table table-striped" border="1">
      	@for((call, index) <- recommendCalls.zipWithIndex)  {	
		  <tr>
		  <td>@call.user_id</td>
		  <td>@call.email</td>
		  <td>@call.username</td>
		  <td>@call.phone</td>
		  <td>@call.count</td>
		  </tr>
		  }
		</table>

      	<h3>New users in the last 24h (@users.size)</h3>
      	<table class="table table-striped" border="1">
      	@for((user, index) <- users.zipWithIndex)  {	
		  <tr>
		  <td>@user.id</td>
		  <td>@user.email</td>
		  <td>@user.username</td>
		  <td>@user.createdate.format("dd.MM.YYYY HH:mm")</td>
		  </tr>
		  }
		</table>

      	<h3>New friends in the last 24h (@friends.size)</h3>
      	<table class="table table-striped" border="1">
      	@for((friend, index) <- friends.zipWithIndex)  {	
		  <tr>
		  <td>@friend.friend_user_id</td>
		  <td>@friend.user_id</td>
		  <td>@friend.lastupdate.format("dd.MM.YYYY HH:mm")</td>
		  </tr>
		  }
		</table>

      	<h3>New dish likes in the last 24h (@activities.size)</h3>
      	<table class="table table-striped" border="1">
      	@for((activity, index) <- activities.filter{x => x.activity_type != 7}.zipWithIndex)  {	
		  <tr>
		  <td>@activity.user_id</td>
		  <td>@activity.activity_subtype</td>
		  <td>@activity.activity_details</td>
		  <td>@activity.createdate.format("dd.MM.YYYY HH:mm")</td>
		  </tr>
		  }
		</table>

      	<h3>New dishes in the last 24h (@newDishes.size)</h3>
      	<table class="table table-striped" border="1">
      	@for((dish, index) <- newDishes.zipWithIndex)  {	
		  <tr>
		  <td>@dish.id</td>
		  <td>@dish.name</td>
		  <td>@dish.lastupdate.format("dd.MM.YYYY HH:mm")</td>
		  <td>@("%.2f".format(dish.price))</td>
		  </tr>
		  }
		</table>

        <hr/>
        
      	<h3>All Restaurants (@restaurants.size)</h3>
      	<table class="table table-striped" border="1">
      	@for((restaurant, index) <- restaurants.zipWithIndex)  {	
		  <tr>
		  <td>@restaurant.id</td>
		  <td>@restaurant.name</td>
		  <td>@restaurant.status</td>
		  </tr>
		  }
		</table>
              
      	<h3>Dishes without images (@dishesWithoutImages.size)</h3>
      	<table class="table table-striped" border="1">
      	@for((dish, index) <- dishesWithoutImages.zipWithIndex)  {	
		  <tr>
		  <td>@dish.id</td>
		  <td>@dish.lastupdate.format("dd.MM.YYYY HH:mm")</td>
		  <td>@("%.2f".format(dish.price))</td>
		  <td>@dish.name</td>
		  </tr>
		  }
		</table>

      	<h3>Dishes that need approval (@dishDrafts.size)</h3>
      	<table class="table table-striped" border="1">
      	@for((dish, index) <- dishDrafts.zipWithIndex)  {	
		  <tr>
		  <td>@dish.id</td>
		  <td>@dish.name</td>
		  <td>@("%.2f".format(dish.price))</td>
		  <td>@dish.lastupdate.format("dd.MM.YYYY HH:mm")</td>
		  </tr>
		  }
		</table>

      	<h3>Restaurants that need approval (@restaurantDrafts.size)</h3>
      	<table class="table table-striped" border="1">
      	@for((restaurant, index) <- restaurantDrafts.zipWithIndex)  {	
		  <tr>
		  <td>@restaurant.id</td>
		  <td>@restaurant.name</td>
		  <td>@restaurant.status</td>
		  <td>@restaurant.misc.lastupdate.format("dd.MM.YYYY HH:mm")</td>
		  </tr>
		  }
		</table>

		<hr/><h1>System Info</h1><code>@Html(models.AdminHelper.generateStats)</code>
		