@(form: Form[(String,String,String,String,String,String,String,String,String,String,String,String,String,String)], 
	dish: Dish, url: String, tags: String, greenscoretags: String, diet: String, dishtype: String, meatorigin: String)(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

    @helper.form(routes.Dishes.save) {

  <div class="starter-template">
    <h3>Dish Info</h3>


      <div class="row">
      
        <div class="col-sm-8 col-md-offset-2">
          <input class="hidden form-control span4" type="text" name="id" id="id" value="@dish.id">
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Name</span>
            <input class="form-control span4" type="text" name="name" id="name" value="@dish.name">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Price</span>
            <input class="form-control span4" type="text" name="price" id="price" value="@dish.price">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Greenscore tags</span>
            <input class="form-control span4" type="text" name="greenscoretags" id="greenscoretags"value="@greenscoretags">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Greenscore</span>
            <input class="form-control span4" type="text" name="greenscore" id="greenscore"  readonly  value="@dish.greenScore">
          </div>
          
          <input class="hidden form-control span4" type="text" name="restaurant_id" id="restaurant_id" value="@dish.restaurant_id">

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Diet (food categories)</span>
            <input class="form-control span4" type="text" name="diet" id="diet" value="@diet">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Dish type</span>
            <input class="form-control span4" type="text" name="dishtype" id="dishtype" value="@dishtype">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Meat origin</span>
            <input class="form-control span4" type="text" name="meatorigin" id="meatorigin" value="@meatorigin">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Status</span>
            <select class="form-control span4" type="text" name="status" id="status" value="@dish.status">
              <option value="4" @if(dish.status == 4) { selected }   >Draft (4)</option>
              <option value="-1" @if(dish.status == -1) { selected } >Deleted (-1)</option>
        @if(session.get("usertype").get.toString.equals("7")) {
              <option value="0" @if(dish.status == 0) { selected }  >Active (0)</option>
        }
            </select>
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Ingredients</span>
            <input class="form-control span4" type="text" name="itags" id="itags" value="@tags">
          </div>

          <script language="Javascript">
attachTags = function(elemId, tagsArray) {
 $(elemId).tokenfield({  autocomplete: { delay: 100,
    source: tagsArray
  }, showAutocompleteOnFocus: true
 }) 
}

window.onload = function() {
  setTimeout(attachTags('#itags', @Html(play.api.libs.json.Json.toJson(Tag.findAll.filter(_.status == 11).map(_.name)).toString)) , 900);
  setTimeout(attachTags('#greenscoretags', @Html(play.api.libs.json.Json.toJson(Tag.findAll.filter(_.status == 31).map(_.name)).toString)) , 900);
  setTimeout(attachTags('#diet', @Html(play.api.libs.json.Json.toJson(Tag.findAll.filter(_.status == 34).map(_.name)).toString)) , 900);
  setTimeout(attachTags('#dishtype', @Html(play.api.libs.json.Json.toJson(Tag.findAll.filter(_.status == 35).map(_.name)).toString)) , 900);
  setTimeout(attachTags('#meatorigin', @Html(play.api.libs.json.Json.toJson(Tag.findAll.filter(_.status == 36).map(_.name)).toString)) , 900);
}
          </script>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Serving size</span>
            <input class="form-control span4" type="text" name="serving" id="serving" value="@dish.serving">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Submitted by (source)</span>
            <input class="form-control span4" type="text" name="source" id="source" value="@dish.source">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Description</span>
            <textarea NAME="description" cols=70 rows=9>@dish.description</textarea>
          </div>
          
          </br>
                      
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">@Messages("save")</button>
          <button class="span4 btn btn-primary" type="reset" id="generalresetbutton">reset</button>
          <a class="span4 btn btn-primary" type="submit" id="backbutton" href="../restaurantedit/@dish.restaurant_id" role="button">back to restaurant</a>
        </div>
      </div>
	}      

      <h3>Photo</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
                @if(url != null) {
                     <a href="@url"><img src="@url" alt="d" width="100" title="original"></img></a>
                     @for(w <- Image.resolutions) { <a href="@Image.reverseURLGen(url, w)">@w px wide</a> &nbsp&nbsp }
                     
                  @helper.form(action = routes.Dishes.cropImage(dish.id, "dish")) {
                       <button class="span4 btn btn-primary" type="submit" id="cropbutton" >crop</button>
                  }
                  <hr>
                }        
        
        
                @helper.form(action = routes.Dishes.upload(dish.id), 'enctype -> "multipart/form-data", 'acceptcharset -> "UTF-8") {
		            <span class="btn"><input type="file" name="picture"></span>
                    <button class="btn btn-primary" type="submit" id="generalsavebutton">upload</button>
        		}


<script language="Javascript">
var file = document.getElementsByName('picture')[0];

file.onchange = function(e){
    var ext = this.value.match(/\.([^\.]+)$/)[1];
    switch(ext)
    {
        case 'jpg':
        case 'jpeg':
        case 'gif':
        case 'JPG':
        case 'JPEG':
        case 'GIF':
            break;
        case 'png':
        case 'PNG':
			alert('png files are usually larger and could lead to performance issues, please use jpg or gif instead');
			break;
        default:
            alert('filetype not allowed ' + ext);
            this.value='';
    }
    
    if (this.value.match(/\//) != null) {
       alert('filename contains invalid characters ' + this.value);
    }
};
		</script>
		  
        </div>
      </div>
      
  </div>


    </div><!-- /.container -->
}