@(form: Form[(String,String,String,String,String,String,String,String,String)], dish: Dish, url: String, tags: String, greenscoretags: String, foodCategories: String)(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

    @helper.form(routes.Dishes.save) {

  <div class="starter-template">
    <h3>Dish Info</h3>


      <div class="row">
      
        <div class="col-sm-8 col-md-offset-2">
          <input class="hidden form-control span4" type="text" name="id" id="id" value="@dish.id">
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Name</span>
            <input class="form-control span4" type="text" name="name" id="name" value="@dish.name">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Price</span>
            <input class="form-control span4" type="text" name="price" id="price" value="@dish.price">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Greenscore tags</span>
            <input class="form-control span4" type="text" name="greenscoretags" id="greenscoretags" value="@greenscoretags">
          </div>
          
          <div><u>possible greenscore tags:</u> @Tag.findAll.filter(_.status == 31).map(_.name).mkString(", ")</div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Greenscore</span>
            <input class="form-control span4" type="text" name="greenscore" id="greenscore" value="@dish.greenScore">
          </div>
          
          <input class="hidden form-control span4" type="text" name="restaurant_id" id="restaurant_id" value="@dish.restaurant_id">

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Food Categories</span>
            <input class="form-control span4" type="text" name="foodcategories" id="foodcategories" value="@foodCategories">
          </div>

          <div><u>possible food categories:</u> @Tag.findAll.filter(_.status == 34).map(_.name).mkString(", ")</div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Status</span>
            <input class="form-control span4" type="text" name="status" id="status" value="@dish.status">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Ingredients</span>
            <input class="form-control span4" type="text" name="tags" id="tags" value="@tags">
          </div>
          
          <div><u>possible ingredients:</u> @Tag.findAll.filter(_.status == 11).map(_.name).mkString(", ")</div>
          <script>var availableTags = @Html(play.api.libs.json.Json.toJson(Tag.findAll.filter(_.status == 11).map(_.name)).toString) ;</script>
          
          </br>
                      
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">@Messages("save")</button>
          <button class="span4 btn btn-primary" type="reset" id="generalsavebutton">reset</button>
        </div>
      </div>
	}      

      <h3>Photo</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
                @if(url != null) {
                     <img src="@url" alt="dish photo" height="100" width="100"></img>
                     @for(w <- Image.resolutions) { <a href="@url.replace(".", ("-" + w + "."))">@w px wide</a> &nbsp&nbsp }
                }        
                @helper.form(action = routes.Dishes.upload(dish.id), 'enctype -> "multipart/form-data") {
		   <input type="file" name="picture">
		   </br>
           <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">upload</button>
		  }
        </div>
      </div>
      


      
  </div>


    </div><!-- /.container -->
}