@(url: String, id: Long, width: Long, height: Long, resize: Double)(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

  <div class="starter-template">
      <h3>Photo</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
        
      @if(url != null) {
      	Your image is @width pixels wide and @height pixels high.  It's been resize by @resize 
        <img src="@url" alt="dish photo" width="1200" id="croptarget"></img>
                     
        <!-- This is the form that our event handler fills -->
		  <form action="" method="post" onsubmit="return checkCoords();">
			<input type="hidden" id="x" name="x" />
			<input type="hidden" id="y" name="y" />
			<input type="hidden" id="w" name="w" />
			<input type="hidden" id="h" name="h" />
			<input type="submit" class="btn btn-primary" value="Crop Image" />
		  </form>
       }        
		  
        </div>
      </div>
      
	<!-- script src="@routes.Assets.at("js/jquery.color.js")" type="text/javascript"></script -->

<script language="Javascript">
attachjcrop = function() {
	$(function(){

		$('#croptarget').Jcrop({
			aspectRatio: 1,
			onSelect: updateCoords
		});

	});

	function updateCoords(c)
	{
		$('#x').val(c.x);
		$('#y').val(c.y);
		$('#w').val(c.w);
		$('#h').val(c.h);
	};

	function checkCoords()
	{
		if (parseInt($('#w').val())) return true;
		alert('Please select a crop region then press submit.');
		return false;
	};
}
window.onload = function() {
	setTimeout(attachjcrop , 2000);
}
</script>      

  </div>


    </div><!-- /.container -->
}