@(imgType: String, url: String, id: Long, width: Long, height: Long, resize: Double)(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

  <div class="starter-template">
      <h3>Photo</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
        
      @if(url != null) {
      	Your <b>original</b> image is @width pixels wide and @height pixels high.  It's been resized by @resize
        <img src="@url" alt="dish photo" width="700" id="croptarget"></img>

     <br/>
        <div id="cropstatus"></div>
                     
        <!-- This is the form that our event handler fills -->
		  <form action="" method="post" onsubmit="return checkCoords();">
			<input type="hidden" id="x" name="x" />
			<input type="hidden" id="y" name="y" />
			<input type="hidden" id="w" name="w" />
			<input type="hidden" id="h" name="h" />
			<input type="submit" class="btn btn-primary" id="cropbutton" value="Crop Image" disabled="true" />
            <button class="btn btn-primary" type="submit" id="backbutton" onclick="window.history.go(-1);">cancel</button>
		  </form>
       }        
		  
        </div>
      </div>
      
	<!-- script src="@routes.Assets.at("js/jquery.color.js")" type="text/javascript"></script -->

<script language="Javascript">
attachjcrop = function() {
	$(function(){
		$('#croptarget').Jcrop({
		@if(imgType.equals("restaurant")) {
			aspectRatio: 2.14,
		} else {
			aspectRatio: 1,
		}
			onSelect: updateCoords
		});

	});

	function convrt(x) {
		return parseInt(@resize * x, 10);
	}

	function updateCoords(c)
	{
		$('#x').val(c.x);
		$('#y').val(c.y);
		$('#w').val(parseInt(c.w));
		$('#h').val(parseInt(c.h), 10);
		$('#cropstatus').html('start (' + convrt(c.x) + ',' + convrt(c.y) + ') width=' + convrt(c.w) + ' height=' + convrt(c.h));
		$('#cropbutton').prop( "disabled", false );
	};

	function checkCoords()
	{
		if (parseInt($('#w').val())) return true;
		alert('Please select a crop region then press submit.');
		return false;
	};
}
window.onload = function() {
	setTimeout(attachjcrop , 2000);
}
</script>      

  </div>


    </div><!-- /.container -->
}