@()(implicit session: Session, lang: Lang)
@main(title = "home") {
<div data-ng-app="app" data-ng-controller="ListCtrl" lang="en">
    <div class="container">

      <div class="starter-template">
@session.get("email").map { user =>
        <p class="lead mycenter">ready for your commands master</p>
        
        <div class="row mycenter" >
         <div class="col-sm-8 col-md-offset-2">         

           <button type="button" class="btn btn-primary">@Messages("save")</button>
         </div><!-- /.col-sm-6 -->
        </div>
}.getOrElse{
            <h1>you should probably <a href="login">login</a></h1>
}          

        
      </div>

    </div><!-- /.container -->
</div>
}