@(files: Seq[String], selectedFile: String, array: scala.collection.mutable.ArrayBuffer[models.json.IGNode])(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

  <div class="starter-template">

    <h2 class="top50">Files</h2>

      	<table class="table table-hover">
      	  <tbody>
      	@for((file, index) <- files.zipWithIndex)  {	
		  <tr>
		  <td><a href="imagegrabber?name=@file">@file</a></td>
		  </tr>
		  }
      	  </tbody>
		</table>


    @if(null != selectedFile) {
    	
    <h3 class="top50">Selected File: @selectedFile</h3>
    
      	<table class="table table-hover">
      	  <tbody>
      	  @for((node, index) <- array.zipWithIndex)  {	
		  <tr>
		  <td><img src="@ImageGrabber.createUrl(node.display_src, selectedFile)" width="300px"></img></td>
		  <td><b>likes: </b>@node.likes.count<br>
		      <b>caption: </b>@node.caption<br><br>
		      <b>suggested tags: </b>@node.tags.getOrElse("")<br>
		      <b>suggested name: </b>@node.name.getOrElse("")<br><br><br>
		      <a class="span4 btn btn-primary" type="submit" id="backbutton" 
		         href="../createdish?name=@node.name.getOrElse("")&tags=@node.tags.getOrElse("")&jsonFilename=@selectedFile&imageFilename=@node.display_src" 
		         role="button">create dish!</a>
		  </td>
		      
		  </tr>
		  }
      	  </tbody>
		</table>
      
    }
 
   </div>
</div><!-- /.container -->
}