@(form: Form[(String,String)])(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "contact") {

    <div class="container">

      <div class="starter-template">
      
        @helper.form(routes.Application.authenticate) {
            
            <h1>@Messages("signin")</h1>
            
            @form.globalError.map { error =>
            	<div class="alert alert-danger col-sm-4 col-md-offset-4" role="alert">@Messages(error.message)</div>
            }
            
            @flash.get("success").map { message =>
                <div class="alert alert-info col-sm-4 col-md-offset-4" role="alert">@message</div>            	
            }
            
            <div class="row ">
              <div class="col-sm-4 col-md-offset-4">
                <input class="form-control span4" type="email" name="email" placeholder="@Messages("email")" id="email" value="@form("email").value">
                <input class="form-control span4" type="password" name="password" id="@Messages("password")" placeholder="Password">
                
                <button class="top10 span4 btn btn-primary" type="submit" id="loginbutton">@Messages("signin")</button>
                
				<div class="top10 note">
					<small>@Messages("donthaveaccount") <a href="createuser">@Messages("createfreeaccount")</a>.</small>
				</div>
				<div class="note">
					<small>@Messages("login.forgotpassword") <a href="forgotpassword">@Messages("login.forgotpasswordlink")</a>.</small>
				</div>
                
              </div>
            </div>
        }
      </div>
    </div><!-- /.container -->
}