@()(implicit session: Session, lang: Lang, request: play.api.mvc.RequestHeader)
@main(title = "about") {
    <div class="container">

      <div class="starter-template">
      
      	<h1>@Messages("aboutheader")</h1>
      </div>
      	
      	<div>@Messages("aboutmain")</div>
      	


		<div>@Messages("aboutclosing")</div>
      	
          @helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
		   <input type="file" name="picture">
           <input type="submit">
		  }
      </div>

    </div><!-- /.container -->
}