@(restaurants: Seq[Restaurant], dishes: Seq[Dish], deletedDishes: Seq[Dish], users: Seq[User], 
	friends: Seq[Friend], reservations: Seq[Reservation], activities: Seq[ActivityLog], 
	images: Seq[Image], adminStats: String)(implicit session: Session, lang: Lang)
@main(title = "reports") {
    @if(session.get("usertype").get.toString.equals("7")) {
    <div class="container">

      <div class="starter-template">
      	<h3>Restaurants (@restaurants.size)</h3>
      	<table class="table table-striped">
      	@for((restaurant, index) <- restaurants.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@restaurant.id</td>
		  <td>@restaurant.name</td>
		  </tr>
		  }
		</table>
		
      	<h3>Dishes (@dishes.size)</h3>
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td>#</td>
      	    <td>id</td>
      	    <td>lastupdate</td>
      	    <td><b>name</b></td>
      	    <td><b>price</b></td>
      	    <td><b>restaurant</b></td>
      	  </tr>
      	 </thead>
      	@for((dish, index) <- dishes.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@dish.id</td>
		  <td>@dish.lastupdate.format("dd MMM YYYY HH:MM")</td>
		  <td>@dish.name</td>
		  <td>@("%.2f".format(dish.price))</td>
		  <td>@dish.restaurant_id</td>
		  </tr>
		  }
		</table>

      	<h3>DELETED Dishes (@deletedDishes.size)</h3>
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td>#</td>
      	    <td>id</td>
      	    <td>lastupdate</td>
      	    <td><b>name</b></td>
      	    <td><b>price</b></td>
      	    <td><b>restaurant</b></td>
      	  </tr>
      	 </thead>
      	@for((dish, index) <- deletedDishes.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@dish.id</td>
		  <td>@dish.lastupdate.format("dd MMM YYYY HH:MM")</td>
		  <td>@dish.name</td>
		  <td>@("%.2f".format(dish.price))</td>
		  <td>@dish.restaurant_id</td>
		  </tr>
		  }
		</table>

      	<h3>Users (@users.size)</h3>
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td>#</td>
      	    <td>id</td>
      	    <td><b>email</b></td>
      	    <td><b>username (Facebook ID)</b></td>
      	  </tr>
      	 </thead>
      	@for((user, index) <- users.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@user.id</td>
		  <td>@user.email</td>
		  <td>@user.username</td>
		  </tr>
		  }
		</table>

      	<h3>Friends (@friends.size)</h3>
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td>#</td>
      	    <td>id</td>
      	    <td><b>user_id</b></td>
      	    <td><b>friend_user_id</b></td>
      	    <td>lastupdate</td>
      	  </tr>
      	 </thead>
      	@for((friend, index) <- friends.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@friend.id</td>
		  <td>@friend.user_id</td>
		  <td>@friend.friend_user_id</td>
		  <td>@friend.lastupdate.format("dd MMM YYYY HH:MM")</td>
		  </tr>
		  }
		</table>

      	<h3>Reservations (@reservations.size)</h3>
      	<table class="table table-striped">
      	@for((reservation, index) <- reservations.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@reservation.user_id</td>
		  <td>@reservation.restaurant_id</td>
		  <td>@reservation.id</td>
		  <td>@reservation.reservationtime.format("dd MMM YYYY HH:MM")</td>
		  <td>@reservation.guestcount</td>
		  <td>@reservation.special_requests</td>
		  <td>@reservation.lastupdate.format("dd MMM YYYY HH:MM")</td>
		  <td>@reservation.status</td>
		  </tr>
		  }
		</table>

      	<h3>Activities / Likes (@activities.size)</h3>
      	<div>(here we don't show the values for activity_type == 7, because there are too many)</div>
      	<table class="table table-striped">
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td>#</td>
      	    <td>id</td>
      	    <td><b>user_id</b></td>
      	    <td><b>activity_type (11=like)</b></td>
      	    <td><b>activity_subtype (dish_id)</b></td>
      	    <td><b>activity_details</b></td>
      	    <td>lastupdate</td>
      	  </tr>
      	 </thead>
      	@for((activity, index) <- activities.filter{x => x.activity_type != 7}.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@activity.id</td>
		  <td>@activity.user_id</td>
		  <td>@activity.activity_type</td>
		  <td>@activity.activity_subtype</td>
		  <td>@activity.activity_details</td>
		  <td>@activity.createdate.format("dd MMM YYYY HH:MM")</td>
		  </tr>
		  }
		</table>

      	<h3>Images (@images.size)</h3>
      	<table style="display:none;" class="table table-striped">
      	@for((image, index) <- images.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@image.id</td>
		  <td>@image.filename</td>
		  <td><a href="@image.url">@image.url</a></td>
		  <td>@image.restaurant_id</td>
		  <td>@image.dish_id</td>
		  <td>@image.lastupdate.format("dd MMM YYYY HH:MM")</td>
		  </tr>
		  }
		</table>
		
		<h3>Tags (@Tag.findAll.size)</h3>
		<h3>Tags References (@TagRef.findAll.size)</h3>
		
		<h3>System Info</h3>
		<pre>@Html(adminStats)</pre>
      </div>

    </div><!-- /.container -->
    }
}