@(restaurants: Seq[Restaurant], dishes: Seq[Dish], deletedDishes: Seq[Dish], users: Seq[UserFull], 
	friends: Seq[Friend], reservations: Seq[Reservation], activities: Seq[ActivityLog], recent10: Seq[ActivityLog], 
	imagesCount: Long, adminStats: String)(implicit session: Session, lang: Lang)
@main(title = "reports") {
    @if(session.get("usertype").get.toString.equals("7")) {
    <div class="container">

      <div class="starter-template">
      	<h3>@Messages("reports.restaurants") (@restaurants.size)</h3>
      	<table class="table table-striped">
      	@for((restaurant, index) <- restaurants.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@restaurant.id</td>
		  <td>@restaurant.name</td>
		  </tr>
		  }
		</table>
		
      	<h3>@Messages("reports.dishes") (@dishes.size)</h3>
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td>#</td>
      	    <td>@Messages("reports.id")</td>
      	    <td>@Messages("reports.lastupdate")</td>
      	    <td><b>@Messages("reports.name")</b></td>
      	    <td><b>@Messages("reports.price")</b></td>
      	    <td><b>@Messages("reports.restaurant")</b></td>
      	  </tr>
      	 </thead>
      	@for((dish, index) <- dishes.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@dish.id</td>
		  <td>@dish.lastupdate.format("dd MMM YYYY HH:mm")</td>
		  <td>@dish.name</td>
		  <td>@("%.2f".format(dish.price))</td>
		  <td>@dish.restaurant_id</td>
		  </tr>
		  }
		</table>

      	<h3>@Messages("reports.deleted_dishes") (@deletedDishes.size)</h3>
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td>#</td>
      	    <td>@Messages("reports.id")</td>
      	    <td>@Messages("reports.lastupdate")</td>
      	    <td><b>@Messages("reports.name")</b></td>
      	    <td><b>@Messages("reports.price")</b></td>
      	    <td><b>@Messages("reports.restaurant")</b></td>
      	  </tr>
      	 </thead>
      	@for((dish, index) <- deletedDishes.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@dish.id</td>
		  <td>@dish.lastupdate.format("dd MMM YYYY HH:mm")</td>
		  <td>@dish.name</td>
		  <td>@("%.2f".format(dish.price))</td>
		  <td>@dish.restaurant_id</td>
		  </tr>
		  }
		</table>

      	<h3>@Messages("reports.users") (@users.size)</h3>
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td>#</td>
      	    <td>@Messages("reports.id")</td>
      	    <td><b>@Messages("reports.email")</b></td>
      	    <td><b>@Messages("reports.username")</b></td>
      	    <td><b>@Messages("reports.createdate")</b></td>
      	  </tr>
      	 </thead>
      	@for((user, index) <- users.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@user.id</td>
		  <td>@user.email</td>
		  <td>@user.username</td>
		  <td>@user.createdate.format("dd MMM YYYY HH:mm")</td>
		  </tr>
		  }
		</table>

      	<h3>@Messages("reports.friends") (@friends.size)</h3>
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td>#</td>
      	    <td>@Messages("reports.id")</td>
      	    <td><b>user_id</b></td>
      	    <td><b>friend_user_id</b></td>
      	    <td>@Messages("reports.lastupdate")</td>
      	  </tr>
      	 </thead>
      	@for((friend, index) <- friends.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@friend.id</td>
		  <td>@friend.user_id</td>
		  <td>@friend.friend_user_id</td>
		  <td>@friend.lastupdate.format("dd MMM YYYY HH:mm")</td>
		  </tr>
		  }
		</table>

      	<h3>Reservations (@reservations.size)</h3>
      	<table class="table table-striped">
      	@for((reservation, index) <- reservations.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@reservation.user_id</td>
		  <td>@reservation.restaurant_id</td>
		  <td>@reservation.id</td>
		  <td>@reservation.reservationtime.format("dd MMM YYYY HH:mm")</td>
		  <td>@reservation.guestcount</td>
		  <td>@reservation.special_requests</td>
		  <td>@reservation.lastupdate.format("dd MMM YYYY HH:mm")</td>
		  <td>@reservation.status</td>
		  </tr>
		  }
		</table>

      	<h3>Activities / Likes (@activities.size)</h3>
      	<div>(here we don't show the values for activity_type == 7, because there are too many)</div>
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td>#</td>
      	    <td>id</td>
      	    <td><b>user_id</b></td>
      	    <td><b>activity_type (11=like)</b></td>
      	    <td><b>activity_subtype (dish_id)</b></td>
      	    <td><b>activity_details</b></td>
      	    <td><b>lastupdate</b></td>
      	  </tr>
      	 </thead>
      	@for((activity, index) <- activities.filter{x => x.activity_type != 7}.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@activity.id</td>
		  <td>@activity.user_id</td>
		  <td>@activity.activity_type</td>
		  <td>@activity.activity_subtype</td>
		  <td>@activity.activity_details</td>
		  <td>@activity.createdate.format("dd MMM YYYY HH:mm")</td>
		  </tr>
		  }
		</table>

      	<h3>Ten Most Recent Activities (@recent10.size)</h3>
      	<table class="table table-striped">
      	<thead>
      	  <tr>
      	    <td>#</td>
      	    <td>id</td>
      	    <td><b>user_id</b></td>
      	    <td><b>activity_type (11=like, 7=recommend)</b></td>
      	    <td><b>activity_subtype (dish_id)</b></td>
      	    <td><b>activity_details</b></td>
      	    <td><b>lastupdate</b></td>
      	  </tr>
      	 </thead>
      	@for((activity, index) <- recent10.zipWithIndex)  {	
		  <tr>
		  <td>@index</td>
		  <td>@activity.id</td>
		  <td>@activity.user_id</td>
		  <td>@activity.activity_type</td>
		  <td>@activity.activity_subtype</td>
		  <td>@activity.activity_details.toString.take(60)</td>
		  <td>@activity.createdate.format("dd MMM YYYY HH:mm")</td>
		  </tr>
		  }
		</table>

      	<h3>Images (@imagesCount)</h3>
		<h3>Tags (@Tag.countAll)</h3>
		<h3>Tags References (@TagRef.countAll)</h3>
		
		<h3>System Info</h3>
		<pre>@Html(adminStats)</pre>
      </div>

    </div><!-- /.container -->
    }
}