@(restaurant: Restaurant, reservations: Seq[Reservation])(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

  <div class="starter-template">

    <div><a href="/reservations">Reservatons</a> > @restaurant.name</div>

    @flash.get("error").map { message =>
      <div class="row">
        <div class="alert alert-danger col-sm-4 col-md-offset-4" role="alert">@message</div>
      </div>
    }
            
    @flash.get("success").map { message =>
      <div class="row">
        <div class="alert alert-info col-sm-4 col-md-offset-4" role="alert">@message</div>            	
      </div>
    }
      
    <h2 class="top50">@restaurant.name</h2>

    <h3 class="top50">@Messages("restedit.reservations") for <input type="text" id="datepicker"></h3>
       	
    <script>
      $( function() {
        $( "#datepicker" ).datepicker({
        	autoSize: true, 
        	dateFormat: "dd.mm.yy"
        });
      } );
    </script>
  
      	<table class="table table-hover">
      	  <thead>
      	    <tr>
      	       <td>@Messages("restedit.reservations.userid")</td>
      	       <td>@Messages("restedit.reservations.datetime")</td>
      	       <td>@Messages("restedit.reservations.guests")</td>
      	       <td>@Messages("restedit.reservations.special")</td>
      	       <td>@Messages("restedit.reservations.status")</td>
      	    </tr>
      	  </thead>
      	  <tbody>
      	@for((reservation, index) <- reservations.zipWithIndex)  {	
		  <tr>
		  <td>@reservation.user_id</td>
		  <td>@reservation.reservationtime.format("dd MMM YYYY HH:MM")</td>
		  <td>@reservation.guestcount</td>
		  <td>@reservation.special_requests</td>
		  <td>@reservation.status</td>
		  </tr>
		  }
      	  </tbody>
		</table>


    <h3 class="top50">Configuration</h3>

   @helper.form(action = routes.Reservations.save(restaurant.id)) {
    
    <div class="row">
      <div class="col-md-6">
        <h4>Basic</h4>
        <span>I have <input type="text" size=4 id="tables" name="tables" style="text-align:right;" value="25"> seats in my restaurant</span>
        <span>phone <input type="text" size=4 id="phone" name="phone" style="text-align:right;" value="25"></span>
        <br>
        <input type="checkbox" checked="checked"> Reservations are automatically approved</input>
        <br>
        <input type="checkbox" checked="checked"> Reservations are made for a period of two hours</input>
        <br>
        <input type="checkbox" checked="checked"> Send me an e-mail each time a reservation is made</input>
      </div>
    </div>
    <button class="top10 span4 btn btn-primary" type="submit" id="generalsavebutton">@Messages("save")</button>
    
    }
    


    <h3 class="top50">Statistics</h3>
    <div>coming soon...</div>

    <h3 class="top50">Test and Preview Reservation Functionality</h3>
    <div>coming soon...</div>
 
   </div>
</div><!-- /.container -->
}