@()(implicit session: Session, lang: Lang)
@main(title = "home") {
<div data-ng-app="app" data-ng-controller="ListCtrl" lang="en">
    <div class="container">

      <div class="starter-template">
@session.get("email").map { user =>
      <div><a href="/restaurant">Restaurants</a></div>

      <h3 class="top50">Your Restaurants</h3>
        
        <div class="row mycenter" >
         <div class="col-sm-8">         

          <ul class="list-group" style="text-align: left;">
            <li ng-repeat="restaurant in restaurants | orderBy:['id']" 
                class="list-group-item"><a href="restaurantedit/{{restaurant.id}}">
                   <img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" />{{restaurant.name}}</a>
            </li>
            
            <li class="list-group-item"><span ng-hide="editing" style="text-align: left;">
            <form role="form" class="animate-show" ng-show="show">
               <img src="@routes.Assets.at("img/restaurant.jpg")" width="25px" />
               <input id="donetext" name="donetext" type="text" data-ng-model="donetext" 
                      placeholder="restaurant name" size="60" ng-required/>
               <button data-ng-click="add()" class="btn btn-primary" type="submit">@Messages("add")</button>
            </form>
           </span>
           </li>
            
          </ul>

         </div><!-- /.col-sm-6 -->
         
         <div class="col-sm-8"> or </div>        
         <div class="col-sm-8">         
              <a class="span4 btn btn-primary" type="submit" id="backbutton" href="/google_places.html" role="button">create restaurant using Google Places</a>
         </div>
         
        </div>
}.getOrElse{
            <h1>you should probably <a href="login">login</a></h1>
}          

        
      </div>

    </div><!-- /.container -->
</div>
}