@(form: Form[(String,String,String,String,String,String,String,String,String,String,String,String,String,String,String,String,String)], restaurant: Restaurant, url: String, logourl: String, tags: String, cuisines: String, reservations: Seq[Reservation], children: Seq[Restaurant])(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

@helper.form(routes.Restaurants.save) {

  <div class="starter-template">

    <div><a href="/restaurant">Restaurants</a> > @restaurant.name</div>

    @flash.get("error").map { message =>
      <div class="row">
        <div class="alert alert-danger col-sm-4 col-md-offset-4" role="alert">@message</div>
      </div>
    }
            
    @flash.get("success").map { message =>
      <div class="row">
        <div class="alert alert-info col-sm-4 col-md-offset-4" role="alert">@message</div>            	
      </div>
    }
      
    <h2 class="top50">@restaurant.name</h2>

    <h3 class="top50">Information</h3>

      <div class="row ">
        <div class="col-sm-8">
          <input class="hidden form-control span4" type="text" name="id" id="id" value="@restaurant.id">

          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.name")</span>
            <input class="form-control span4" type="text" name="name" id="name" value="@restaurant.name">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.name.tooltip")">?</span>
            </span>
          </div>
                      
          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.address")</span>
            <input class="form-control span4" type="text" name="address" id="address" value="@restaurant.address">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.address.tooltip")">?</span>
            </span>
          </div>

          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.zipcode")</span>
            <input class="form-control span4" type="text" name="postalcode" id="postalcode" value="@restaurant.misc.postalcode">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.zipcode.tooltip")">?</span>
            </span>
          </div>

          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.city")</span>
            <input class="form-control span4" type="text" name="city" id="city" value="@restaurant.city">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.city.tooltip")">?</span>
            </span>
          </div>

          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.state")</span>
            <input class="form-control span4" type="text" name="state" id="state" value="@restaurant.state">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.state.tooltip")">?</span>
            </span>
          </div>

          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.country")</span>
            <input class="form-control span4" type="text" name="country" id="country" value="@restaurant.misc.country">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.country.tooltip")">?</span>
            </span>
          </div>

          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.latlong")</span>
            <input class="form-control span4" type="text" name="latitudelongitude" id="latitudelongitude" value="@restaurant.latitude, @restaurant.longitude">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.latlong.tooltip")">?</span>
            </span>
          </div>

          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.google")</span>
            <input class="form-control span4" type="text" name="google_places_id" id="google_places_id" value="@restaurant.misc.place_id">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.google.tooltip")">?</span>
            </span>
          </div>
          
          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.phone")</span>
            <input class="form-control span4" type="text" name="phone" id="phone" value="@restaurant.phone">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.phone.tooltip")">?</span>
            </span>
          </div>
                      
          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.email")</span>
            <input class="form-control span4" type="email" name="email" id="email" value="@restaurant.email">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.email.tooltip")">?</span>
            </span>
          </div>
                      
          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.website")</span>
            <input class="form-control span4" type="text" name="website" id="website" value="@restaurant.website">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.website.tooltip")">?</span>
            </span>
          </div>
          
          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.schedule")</span>
            <textarea class="form-control span4" type="text" name="schedule" id="schedule" cols=80 rows=7>@restaurant.schedule</textarea> 
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="According to the schedule above openNow=@common.RecommendationUtils.checkSchedule(restaurant.schedule). @Messages("restedit.schedule.tooltip")">?</span>
            </span>
          </div>
          
          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.type")</span>
            <input class="form-control span4" type="text" name="restype" id="restype" value="@restaurant.restype">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.type.tooltip")">?</span>
            </span>
          </div>
          
          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.status")</span>
            <select class="form-control span4" type="text" name="status" id="status" value="@restaurant.status">
              <option value="4" @if(restaurant.status == 4) { selected }   >Draft (4)</option>
              <option value="-1" @if(restaurant.status == -1) { selected } >Deleted (-1)</option>
             @if(session.get("usertype").get.toString.equals("7")) {
              <option value="0" @if(restaurant.status == 0) { selected }  >Active (0)</option>
             }
            </select>
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.status.tooltip")">?</span>
            </span>
          </div>

          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.payment")</span>
            <input class="form-control span4" type="text" name="ptags" id="ptags" value="@tags">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.payment.tooltip")">?</span>
            </span>
          </div>

          <div class="input-group top5">
            <span class="input-group-addon input-group-addon-label" id="basic-addon1">@Messages("restedit.cuisines")</span>
            <input class="form-control span4" type="text" name="ctags" id="ctags" value="@cuisines">
            <span class="input-group-addon input-group-addon-tooltip" id="basic-addon1">
              <span class="badge " title="@Messages("restedit.cuisines.tooltip")">?</span>
            </span>
          </div>

          <script language="Javascript">
attachtokenfield = function() {
 $('#ctags').tokenfield({  autocomplete: { delay: 100,
    source: @Html(play.api.libs.json.Json.toJson(Tag.findAll.filter(_.status == 21).map(_.name)).toString)
  }, showAutocompleteOnFocus: true
 }) 
}

attachpaymenttags = function() {
 $('#ptags').tokenfield({ autocomplete: { delay: 100,
    source: @Html(play.api.libs.json.Json.toJson(Tag.findAll.filter(_.status == 12).map(_.name)).toString) 
  },
  showAutocompleteOnFocus: true
 }) 
}

window.onload = function() {
  setTimeout(attachtokenfield , 900);
  setTimeout(attachpaymenttags , 900);
}
          </script>
          
          </br>
                      
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">@Messages("save")</button>
        </div>
      </div>
	}      


      <h3 class="top50">@Messages("restedit.photo")</h3>

      <div class="row ">
        <div class="col-sm-8">

          <form action="/restaurant?id=@restaurant.id" method="POST" enctype="multipart/form-data">
          @if(url != null) {
            <a href="@url"><img src="@url" alt="restaurant photo" width="44" title="original"></img></a>
          }        
		    <span class="btn"><input type="file" name="picture"></span>
            <button class="btn btn-primary" type="submit" id="generalsavebutton">upload</button>&nbsp&nbsp&nbsp&nbspor&nbsp&nbsp&nbsp&nbsp
            <a class="span4 btn btn-primary" type="submit" id="crop" href="/crop/@restaurant.id,restaurant" role="button">crop</a>
          </form>        
        		
        </div>
      </div>


      <h3 class="top50">@Messages("restedit.profilepic")</h3>

      <div class="row ">
        <div class="col-sm-8">

          <form action="/restaurant2?id=@restaurant.id" method="POST" enctype="multipart/form-data">
          @if(logourl != null) {
            <a href="@logourl"><img src="@logourl" alt="restaurant profile photo" width="44" title="original"></img></a>
          }        
		    <span class="btn"><input type="file" name="logopicture"></span>
            <button class="btn btn-primary" type="submit" id="generalsavebutton">upload</button>&nbsp&nbsp&nbsp&nbspor&nbsp&nbsp&nbsp&nbsp
            <a class="span4 btn btn-primary" type="submit" id="crop" href="/crop/@restaurant.id,restaurantProfile" role="button">crop</a>
          </form>        
        		
        </div>
      </div>

    <h3 class="top50">@Messages("restedit.statistics")</h3>
      <div class="row ">
        <div class="col-sm-8">@Messages("restedit.piechart.info")</div>
      </div>  
      <div class="row ">
         <div class="col-sm-8">
           <div id="pie_chart_div">@Messages("restedit.stats.loading")</div>
        </div>        
      </div>  
      <div class="row ">
        <div class="col-sm-8">@Messages("restedit.barchart.info")</div>
      </div>  
      <div class="row ">
        <div class="col-sm-8">
           <div id="bar_chart_div">@Messages("restedit.stats.loading")</div>
        </div>
      </div>
 
      
    <h3 class="top50">@Messages("restedit.menu")</h3>

        <div data-ng-app="app" data-ng-controller="ListDishCtrl" lang="en" class="row mycenter" >
         <div class="col-sm-8">         

          <ul class="list-group" style="text-align: left;">
            <li ng-repeat="dish in dishes | orderBy:['id']" 
                class="list-group-item"><a href="/dishedit/{{dish.id}}">
                   <img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" />{{dish.name}} {{dish.price | currency}}</a>
            </li>
            
            <li class="list-group-item"><span ng-hide="editing" style="text-align: left;">
            <form role="form" class="animate-show" ng-show="show">
               <img src="@routes.Assets.at("img/restaurant.jpg")" width="25px" />
               <input id="donetext" name="donetext" type="text" data-ng-model="donetext" 
                      placeholder="dish name" size="60" ng-required/>
               <button data-ng-click="add()" class="btn btn-primary" type="submit">@Messages("add")</button>
            </form>
           </span>
           </li>
            
          </ul>

         </div><!-- /.col-sm-6 -->
        </div>

     	<h3 class="top50">@Messages("restedit.locations")</h3>
     	@if(children.size > 0) {
      	<table class="table table-hover">
      	  <thead>
      	    <tr>
      	       <td>@Messages("restedit.locations.id")</td>
      	       <td>@Messages("restedit.locations.address")</td>
      	       <td>@Messages("restedit.locations.phone")</td>
      	       <td>@Messages("restedit.locations.latitude")</td>
      	       <td>@Messages("restedit.locations.longitude")</td>
      	       <td>@Messages("restedit.locations.status")</td>
      	    </tr>
      	  </thead>
      	  <tbody>
      	@for((cr, index) <- children.zipWithIndex)  {	
		  <tr>
		  <td><a href="../restaurantlocations/@cr.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a>@cr.id @cr.name</td>
		  <td>@cr.address @cr.city @cr.state</td>
		  <td>@cr.phone</td>
		  <td>@cr.latitude</td>
		  <td>@cr.longitude</td>
		  <td>@cr.status</td>
		  </tr>
		  }
      	  </tbody>
		</table>
		}

        @helper.form(action = routes.Restaurants.addLocations(restaurant.id)) {
            <button class="span4 btn btn-primary" type="submit" id="createlocation" >@Messages("restedit.locations.addbutton")</button>
        }

      	<h3 class="top50">@Messages("restedit.reservations") (@reservations.size)</h3>
      	<table class="table table-hover">
      	  <thead>
      	    <tr>
      	       <td>@Messages("restedit.reservations.userid")</td>
      	       <td>@Messages("restedit.reservations.datetime")</td>
      	       <td>@Messages("restedit.reservations.guests")</td>
      	       <td>@Messages("restedit.reservations.special")</td>
      	       <td>@Messages("restedit.reservations.status")</td>
      	    </tr>
      	  </thead>
      	  <tbody>
      	@for((reservation, index) <- reservations.zipWithIndex)  {	
		  <tr>
		  <td>@reservation.user_id</td>
		  <td>@reservation.reservationtime.format("dd MMM YYYY HH:MM")</td>
		  <td>@reservation.guestcount</td>
		  <td>@reservation.special_requests</td>
		  <td>@reservation.status</td>
		  </tr>
		  }
      	  </tbody>
		</table>

 
    <!--Load the AJAX API - example from https://developers.google.com/chart/interactive/docs/quick_start -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Dish');
        data.addColumn('number', 'views');
        data.addRows([
          @Html(controllers.Restaurants.getPieChartData(restaurant.id))
        ]);

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
        chart.draw(data, {'title':'@Messages("restedit.piechart.title")', 'width':600, 'height':300});

        
        var mdata = new google.visualization.DataTable();
        mdata.addColumn('string', 'Month');
        mdata.addColumn('number', 'views');
        mdata.addRows([
          @Html(controllers.Restaurants.getBarChartData(restaurant.id))
        ]);
        
        var chart = new google.visualization.BarChart(document.getElementById('bar_chart_div'));
        chart.draw(mdata, {'title':'@Messages("restedit.barchart.title")', 'width':600, 'height':300, 'colors': ['#FF4D5E']});
      }
    </script>      
  </div>
</div><!-- /.container -->
}