@(form: Form[(String,String,String,String,String,String,String,String,String,String,String,String,String,String,String)], restaurant: Restaurant, url: String, tags: String, cuisines: String)(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

    @helper.form(routes.Restaurants.save) {

  <div class="starter-template">
    <h3>Restaurant Info</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <input class="hidden form-control span4" type="text" name="id" id="id" value="@restaurant.id">
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Name</span>
            <input class="form-control span4" type="text" name="name" id="name" value="@restaurant.name">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Phone</span>
            <input class="form-control span4" type="phone" name="phone" id="city" value="@restaurant.phone">
          </div>
                      
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input class="form-control span4" type="text" name="email" id="email" value="@restaurant.email">
          </div>
                      
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Address</span>
            <input class="form-control span4" type="text" name="address" id="address" value="@restaurant.address">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">City</span>
            <input class="form-control span4" type="text" name="city" id="city" value="@restaurant.city">
          </div>
                      
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Postal Code</span>
            <input class="form-control span4" type="text" name="postalcode" id="postalcode" value="@restaurant.postalcode">
          </div>
                      
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">State</span>
            <input class="form-control span4" type="text" name="state" id="state" value="@restaurant.state">
          </div>
                      
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Longitude</span>
            <input class="form-control span4" type="text" name="longitude" id="longitude" value="@restaurant.longitude">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Latitude</span>
            <input class="form-control span4" type="text" name="latitude" id="latitude" value="@restaurant.latitude">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Schedule</span>
            <input class="form-control span4" type="text" name="schedule" id="schedule" value="@restaurant.schedule">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Type</span>
            <input class="form-control span4" type="text" name="restype" id="restype" value="@restaurant.restype">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Status</span>
            <input class="form-control span4" type="text" name="status" id="status" value="@restaurant.status">
          </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Payment type</span>
            <input class="form-control span4" type="text" name="tags" id="tags" value="@tags">
          </div>
          
          <div>&emsp;<u>possible tags:</u> @Tag.findAll.filter(_.status == 12).map(_.name).mkString(", ")</div>
          <script>var availableTags = @Html(play.api.libs.json.Json.toJson(Tag.findAll.filter(_.status == 12).map(_.name)).toString) ;</script>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Cuisines</span>
            <input class="form-control span4" type="text" name="cuisines" id="cuisines" value="@cuisines">
          </div>
          
          <div>&emsp;<u>possible cuisines:</u> @Tag.findAll.filter(_.status == 21).map(_.name).mkString(", ")</div>
          
          </br>
                      
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">@Messages("save")</button>
          <button class="span4 btn btn-primary" type="reset" id="generalsavebutton">reset</button>
        </div>
      </div>
	}      
      
      <h3>Photo</h3>
      
      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
                @if(url != null) {
                     <img src="@url" alt="restaurant photo" height="100" width="100"></img>
                     @for(w <- Image.resolutions) { <a href="@Image.reverseURLGen(url, w)">@w px wide</a> &nbsp&nbsp }
                }
                @helper.form(action = routes.Restaurants.upload(restaurant.id), 'enctype -> "multipart/form-data") {
		   <input type="file" name="picture">
		   </br>
           <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">upload new</button>
		  }
        </div>
      </div>
      
      <h3>Menu (dishes)</h3>

        <div data-ng-app="app" data-ng-controller="ListDishCtrl" lang="en" class="row mycenter" >
         <div class="col-sm-8 col-md-offset-2">         

          <ul class="list-group" style="text-align: left;">
            <li ng-repeat="dish in dishes | orderBy:['id']" 
                class="list-group-item"><a href="/dishedit/{{dish.id}}">
                   <img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" />{{dish.name}} {{dish.price | currency}}</a>
            </li>
            
            <li class="list-group-item"><span ng-hide="editing" style="text-align: left;">
            <form role="form" class="animate-show" ng-show="show">
               <img src="@routes.Assets.at("img/restaurant.jpg")" width="25px" />
               <input id="donetext" name="donetext" type="text" data-ng-model="donetext" 
                      placeholder="dish name" size="60" ng-required/>
               <button data-ng-click="add()" class="btn btn-primary" type="submit">@Messages("add")</button>
            </form>
           </span>
           </li>
            
          </ul>

         </div><!-- /.col-sm-6 -->
        </div>


      
  </div>


    </div><!-- /.container -->
}