@(form: Form[(String,String,String,String,String,String,String,String,String,String,String)], restaurant: Restaurant)(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

    @helper.form(routes.Restaurants.saveLocations) {

  <div class="starter-template">
    <h3>Restaurant Info</h3>
    <div>(information not shown here will be taken from "parent" restaurant)</div>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <input class="hidden form-control span4" type="text" name="id" id="id" value="@restaurant.id">
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Phone</span>
            <input class="form-control span4" type="phone" name="phone" id="city" value="@restaurant.phone">
          </div>
                      
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input class="form-control span4" type="text" name="email" id="email" value="@restaurant.email">
          </div>
                      
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Address</span>
            <input class="form-control span4" type="text" name="address" id="address" value="@restaurant.address">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">City</span>
            <input class="form-control span4" type="text" name="city" id="city" value="@restaurant.city">
          </div>
                      
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Postal Code</span>
            <input class="form-control span4" type="text" name="postalcode" id="postalcode" value="@restaurant.postalcode">
          </div>
                      
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">State</span>
            <input class="form-control span4" type="text" name="state" id="state" value="@restaurant.state">
          </div>
                      
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Latitude</span>
            <input class="form-control span4" type="text" name="latitude" id="latitude" value="@restaurant.latitude">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Longitude</span>
            <input class="form-control span4" type="text" name="longitude" id="longitude" value="@restaurant.longitude">
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Schedule</span>
            <textarea class="form-control span4" type="text" name="schedule" id="schedule" cols=80 rows=7>@restaurant.schedule</textarea> 
          </div>
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Status</span>
            <input class="form-control span4" type="text" name="status" id="status" value="@restaurant.status">
          </div>

          </br>
                      
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">@Messages("save")</button>
          <button class="span4 btn btn-primary" type="reset" id="generalsavebutton">reset</button>
        </div>
      </div>
	}      
      
  </div>


    </div><!-- /.container -->
}