@(form: Form[(String,String,String,String,String,String)], me: User, settings: UserSettings, url: String)(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

    @helper.form(routes.Settings.save) {

  <div class="starter-template">
    <h1>@Messages("settings")</h1>

    @form.globalError.map { error =>
      <div class="row ">
      <div class="bg-danger col-sm-8 col-md-offset-2">
        @Messages(error.message)
      </div>
    </div>
    }
      	
    <h3>@Messages("general")</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <input class="form-control span4" type="email" name="email" id="email" value="@me.email">
          <input class="hidden form-control span4" type="text" name="language" id="language" value="@settings.language">

            	<div onchange="$('#language').val(this.value);" class="span2 bfh-selectbox bfh-languages" data-language="@settings.language" 
					data-available="en_US,es_ES,fr_FR,de_DE,it_IT,pl_PL,pt_PT,ru_RU,ja_JP,zh_CN,hi_IN,ar_ZA,tr_TR" data-flags="true">
  					<input type="hidden" value=""></input>
 						<a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
							<span class="bfh-selectbox-option input-medium" data-option=""></span>
 							<b class="caret"></b>
						</a>
  					<div class="bfh-selectbox-options">
  						<div role="listbox">
						    <ul role="option"></ul>
					  </div>
  				</div>
 				</div>

               <textarea NAME="additionalsettings" cols=80	 rows=9>@play.api.libs.json.Json.toJson(settings).toString</textarea>
          
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">@Messages("save")</button>
        </div>
      </div>
  </div>

  <div class="starter-template">
    <h3>@Messages("changepassword")</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <input class="form-control span4" type="password" name="password" id="password" placeholder="@Messages("password")">
          <input class="form-control span4" type="password" name="passwordnew1" id="passwordnew1" placeholder="@Messages("newpassword")">
          <input class="form-control span4" type="password" name="passwordnew2" id="passwordnew2" placeholder="@Messages("newpassword2")">
          <button class="span4 btn btn-primary" type="submit" id="changepasswordbutton">@Messages("save")</button>
        </div>
      </div>
  </div>
}

  <h3>Photo</h3>

  <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
                @if(url != null) {
                     <img src="@url" alt="dish photo" height="100" width="100"></img>
                     @for(w <- Image.resolutions) { <a href="@Image.reverseURLGen(url, w)">@w px wide</a> &nbsp&nbsp }
                }        
                @helper.form(action = routes.Settings.uploadPhoto(me.id), 'enctype -> "multipart/form-data") {
		   <input type="file" name="picture">
		   </br>
           <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">upload</button>
		  }
        </div>
  </div>

  <div class="starter-template">
    <h3>@Messages("exportdata")</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <a href="settings_csv_export">@Messages("downloadcsv")</a>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <a href="settings_json_export">@Messages("downloadjson")</a>
        </div>
      </div>
      
      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <a href="settings_xml_export">@Messages("sendreportnow")</a>
        </div>
      </div>
  </div>


    </div><!-- /.container -->
}