@(form: Form[(String,String,String,String,String,String)], me: User, settings: UserSettings, url: String)(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

  <div class="starter-template">
    <h1>@Messages("settings")</h1>
            
    @form.globalError.map { error =>
      <div class="row ">
      <div class="alert alert-danger col-sm-8 col-md-offset-2">
        @Messages(error.message)
      </div>
      </div>
    }

    @flash.get("success").map { message =>
      <div class="row ">
      <div class="alert alert-info col-sm-8 col-md-offset-2" role="alert">@message</div>            	
      </div>
    }

    <h3>Billing</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          We have partnered with <a href="https://stripe.com/">Stripe&trade;</a> to provide a secure way to accept payments.
        </div>

      <div class="col-sm-2 col-md-offset-8">
       <form action="/acceptpayment" method="POST">
       <script
         src="https://checkout.stripe.com/checkout.js" class="stripe-button"
         data-key="pk_test_3sGi769vVGymo9PSif5A17al"
         data-amount="2990"
         data-name="Presto"
         data-description="Monthly Subscription Fee"
         data-image="../img/icon_presto.png"
         data-locale="auto"
         data-currency="chf">
        </script>
       </form>
      </div>
     </div>


    <h3>Payment History</h3>
      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
         <table class="table table-hover">
      	  <thead>
      	    <tr>
      	       <td>amount</td>
      	       <td>date</td>
      	       <td>billing period</td>
      	       <td>status</td>
      	    </tr>
      	  </thead>
      	  <tbody>
 		    <tr>
		       <td>29.90</td>
		       <td>21 Jun 2016 09:24</td>
		       <td>May 2016</td>
		       <td>PROCESSED</td>
		    </tr>
      	  </tbody>
		</table>
      </div>
     </div>    

    @helper.form(routes.Settings.save) {
          	
    <h3>@Messages("general")</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <input class="form-control span4" type="email" name="email" id="email" value="@me.email">
          <input class="hidden form-control span4" type="text" name="language" id="language" value="@settings.language">

            	<div onchange="$('#language').val(this.value);" class="span2 bfh-selectbox bfh-languages" data-language="@settings.language" 
					data-available="en_US,es_ES,fr_FR,de_DE,it_IT,pl_PL,pt_PT,ru_RU,ja_JP,zh_CN,hi_IN,ar_ZA,tr_TR" data-flags="true">
  					<input type="hidden" value=""></input>
 						<a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
							<span class="bfh-selectbox-option input-medium" data-option=""></span>
 							<b class="caret"></b>
						</a>
  					<div class="bfh-selectbox-options">
  						<div role="listbox">
						    <ul role="option"></ul>
					  </div>
  				</div>
 				</div>

               <textarea NAME="additionalsettings" cols=80	 rows=9>@play.api.libs.json.Json.toJson(settings).toString</textarea>
          
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">@Messages("save")</button>
        </div>
      </div>
  </div>

  <div class="starter-template">
    <h3>@Messages("changepassword")</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <input class="form-control span4" type="password" name="password" id="password" placeholder="@Messages("password")">
          <input class="form-control span4" type="password" name="passwordnew1" id="passwordnew1" placeholder="@Messages("newpassword")">
          <input class="form-control span4" type="password" name="passwordnew2" id="passwordnew2" placeholder="@Messages("newpassword2")">
          <button class="span4 btn btn-primary" type="submit" id="changepasswordbutton">@Messages("save")</button>
        </div>
      </div>
  </div>
}

  <div class="starter-template">

  <h3>Photo</h3>

  <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
                @if(url != null) {
                     <img src="@url" alt="dish photo" height="100" width="100"></img>
                     @for(w <- Image.resolutions) { <a href="@Image.reverseURLGen(url, w)">@w px wide</a> &nbsp&nbsp }
                }        
                @helper.form(action = routes.Settings.uploadPhoto(me.id), 'enctype -> "multipart/form-data") {
		   <input type="file" name="picture">
		   </br>
           <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">upload</button>
		  }
        </div>
  </div>
  </div>

  <div class="starter-template">
  
  @if(session.get("usertype").getOrElse("").toString.equals("7")) {
  
    <h3>@Messages("exportdata")</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <a href="settings_csv_export">@Messages("downloadcsv")</a>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <a href="settings_json_export">@Messages("downloadjson")</a>
        </div>
      </div>
      
      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          <a href="settings_xml_export">@Messages("sendreportnow")</a>
        </div>
      </div>
  }
      
   </div>
  </div><!-- /.container -->
}