@(form: Form[(String,String,String,String,String,String)], me: User, settings: UserSettings, url: String, plan: Option[com.stripe.model.Plan], invoices: Seq[com.stripe.model.Invoice])(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

  <div class="starter-template">
            
    @form.globalError.map { error =>
      <div class="row ">
      <div class="alert alert-danger col-sm-8 col-md-offset-2">
        @Messages(error.message)
      </div>
      </div>
    }

    @flash.get("success").map { message =>
      <div class="row ">
      <div class="alert alert-info col-sm-8 col-md-offset-2" role="alert">@message</div>            	
      </div>
    }

@if(plan.isDefined) {

    <h3 class="top50">@Messages("settings.billing")</h3>

      <div class="row ">
        <div class="col-sm-8">
          We have partnered with <a href="https://stripe.com/">Stripe&trade;</a> to provide a secure way to accept payments.<br>
          The subscription fee of @(plan.get.getAmount / 100) @plan.get.getCurrency will be charged once per @plan.get.getInterval
        </div>

    @if(invoices.size > 0) {
      <a href="/cancelsubscription" class="span4 btn btn-primary" type="submit" id="cancelsubscription" onclick="return confirm('Are you sure?');">Cancel Subscription</a>
    } else {
      <div class="col-sm-2 col-md-offset-6">
       <form action="/acceptpayment" method="POST">
       <script
         src="https://checkout.stripe.com/checkout.js" class="stripe-button"
         data-key="pk_live_KM99ijrDtPI2R8DZ5lDnLwy1"
         data-amount="@plan.get.getAmount"
         data-name="Presto"
         data-description="@plan.get.getName"
         data-image="../img/icon_presto.png"
         data-locale="auto"
         data-currency="@plan.get.getCurrency">
        </script>
       </form>
      </div>
     </div>
    }

    @if(invoices.size > 0) {

    <h3 class="top50">@Messages("settings.paymenthistory")</h3>
      <div class="row ">
        <div class="col-sm-8">
         <table class="table table-hover">
      	  <thead>
      	    <tr>
      	       <td>@Messages("settings.amount")</td>
      	       <td>@Messages("settings.date")</td>
      	       <td class="hidden">@Messages("settings.billingperiod")</td>
      	       <td>paid</td>
      	       <td>ID</td>
      	    </tr>
      	  </thead>
      	  <tbody>
            @for((payment, index) <- invoices.zipWithIndex)  {	
 		    <tr>
		       <td>@("%.2f".format(payment.getTotal / 100.0)) @payment.getCurrency</td>
		       <td>@Settings.formatPaymentDate(payment.getDate)</td>
		       <td class="hidden">@Settings.formatPaymentDate(payment.getPeriodStart) - @Settings.formatPaymentDate(payment.getPeriodEnd)</td>
		       <td>@payment.getPaid</td>
		       <td>@payment.getId</td>
		    </tr>
		    }
      	  </tbody>
		</table>
      </div>
     </div>
     
     }    
}

    @helper.form(routes.Settings.save) {
          	
    <h3 class="top50">@Messages("general")</h3>

      <div class="row ">
        <div class="col-sm-8">
          <input class="form-control span4" type="email" name="email" id="email" value="@me.email">
          <input class="hidden form-control span4" type="text" name="language" id="language" value="@settings.language">

            	<div onchange="$('#language').val(this.value);" class="span2 bfh-selectbox bfh-languages" data-language="@settings.language" 
					data-available="en_US,es_ES,fr_FR,de_DE,it_IT,pl_PL,pt_PT,ru_RU,ja_JP,zh_CN,hi_IN,ar_ZA,tr_TR" data-flags="true">
  					<input type="hidden" value=""></input>
 						<a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
							<span class="bfh-selectbox-option input-medium" data-option=""></span>
 							<b class="caret"></b>
						</a>
  					<div class="bfh-selectbox-options">
  						<div role="listbox">
						    <ul role="option"></ul>
					  </div>
  				</div>
 				</div>

               <textarea class="hidden" NAME="additionalsettings" cols=80 rows=9>@play.api.libs.json.Json.toJson(settings).toString</textarea>
          
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">@Messages("save")</button>
        </div>
      </div>

    <h3 class="top50">@Messages("changepassword")</h3>

      <div class="row ">
        <div class="col-sm-8">
          <input class="form-control span4" type="password" name="password" id="password" placeholder="@Messages("password")">
          <input class="form-control span4" type="password" name="passwordnew1" id="passwordnew1" placeholder="@Messages("newpassword")">
          <input class="form-control span4" type="password" name="passwordnew2" id="passwordnew2" placeholder="@Messages("newpassword2")">
          <button class="span4 btn btn-primary" type="submit" id="changepasswordbutton">@Messages("save")</button>
        </div>
      </div>
}

  <h3 class="top50">Photo</h3>

  <div class="row ">
        <div class="col-sm-8">
                @if(url != null) {
                     <img src="@url" alt="dish photo" height="100" width="100"></img>
                }        
                @helper.form(action = routes.Settings.uploadPhoto(me.id), 'enctype -> "multipart/form-data") {
		   <input type="file" name="picture">
           <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">upload</button>
		  }
        </div>
  </div>
  
  @if(session.get("usertype").getOrElse("").toString.equals("7")) {
  
    <h3 class="top50">@Messages("exportdata") (super admin only)</h3>

      <div class="row ">
        <div class="col-sm-8">
          <a href="settings_csv_export">@Messages("downloadcsv")</a>
        </div>
      </div>

      <div class="row ">
        <div class="col-sm-8">
          <a href="settings_json_export">@Messages("downloadjson")</a>
        </div>
      </div>
      
      <div class="row ">
        <div class="col-sm-8">
          <a href="settings_xml_export">@Messages("sendreportnow")</a>
        </div>
      </div>
  }
 
   </div>     
  </div><!-- /.container -->
}