@(tags: Seq[Tag])(implicit session: Session, lang: Lang)
@main(title = "reports") {
    @if(session.get("usertype").get.toString.equals("7")) {
    <div class="container">

      <div class="starter-template">
      	<h1>All @tags.size tags</h1>
      	
      	<h3>Payment type tags (Restaurant)</h3>
      	<table class="table table-striped">
		@for((tag, index) <- tags.filter(_.status == 12).zipWithIndex)  {	
		  <tr>
		  <td><a href="tagedit/@tag.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a> @tag.name</td>
		  <td>@tag.en_text</td><td>@tag.de_text</td><td>@tag.it_text</td><td>@tag.fr_text</td><td>@tag.status</td>
		  </tr>
		}
		</table>
		
		
      	<h3>Cuisine tags (Restaurant)</h3>
      	<table class="table table-striped">
		@for((tag, index) <- tags.filter(_.status == 21).zipWithIndex)  {	
		  <tr>
		  <td><a href="tagedit/@tag.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a> @tag.name</td>
		  <td>@tag.en_text</td><td>@tag.de_text</td><td>@tag.it_text</td><td>@tag.fr_text</td><td>@tag.status</td>
		  </tr>
		}
		</table>
		
		
      	<h3>Greenscore tags (Dish)</h3>
      	<table class="table table-striped">
		@for((tag, index) <- tags.filter(_.status == 31).zipWithIndex)  {	
		  <tr>
		  <td><a href="tagedit/@tag.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a> @tag.name</td>
		  <td>@tag.en_text</td><td>@tag.de_text</td><td>@tag.it_text</td><td>@tag.fr_text</td><td>@tag.status</td>
		  </tr>
		}
		</table>
		
		
      	<h3>Diet tags (Food categories - Dish)</h3>
      	<table class="table table-striped">
		@for((tag, index) <- tags.filter(_.status == 34).zipWithIndex)  {	
		  <tr>
		  <td><a href="tagedit/@tag.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a> @tag.name</td>
		  <td>@tag.en_text</td><td>@tag.de_text</td><td>@tag.it_text</td><td>@tag.fr_text</td><td>@tag.status</td>
		  </tr>
		}
		</table>

		
      	<h3>Dish type (Dish)</h3>
      	<table class="table table-striped">
		@for((tag, index) <- tags.filter(_.status == 35).zipWithIndex)  {	
		  <tr>
		  <td><a href="tagedit/@tag.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a> @tag.name</td>
		  <td>@tag.en_text</td><td>@tag.de_text</td><td>@tag.it_text</td><td>@tag.fr_text</td><td>@tag.status</td>
		  </tr>
		}
		</table>

		
      	<h3>Meat Origin tags (Dish)</h3>
      	<table class="table table-striped">
		@for((tag, index) <- tags.filter(_.status == 36).zipWithIndex)  {	
		  <tr>
		  <td><a href="tagedit/@tag.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a> @tag.name</td>
		  <td>@tag.en_text</td><td>@tag.de_text</td><td>@tag.it_text</td><td>@tag.fr_text</td><td>@tag.status</td>
		  </tr>
		}
		</table>
		
		
      	<h3>Ingredients tags (Dish)</h3>
      	<table class="table table-striped">
		@for((tag, index) <- tags.filter(_.status == 11).zipWithIndex)  {	
		  <tr>
		  <td><a href="tagedit/@tag.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a> @tag.name</td>
		  <td>@tag.en_text</td><td>@tag.de_text</td><td>@tag.it_text</td><td>@tag.fr_text</td><td>@tag.status</td>
		  </tr>
		}
		</table>
		
		<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
		
      	<h3>Introduction / Registration Texts</h3>
      	<table class="table table-striped">
		@for((tag, index) <- tags.filter(_.status == 41).zipWithIndex)  {	
		  <tr>
		  <td><a href="tagedit/@tag.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a> @tag.name</td>
		  <td>@tag.en_text</td><td>@tag.de_text</td><td>@tag.it_text</td><td>@tag.fr_text</td><td>@tag.status</td>
		  </tr>
		}
		</table>
		
      </div>

    </div><!-- /.container -->
}
}