@(form: Form[(String,String,String,String,String,String)], re: Recommendations, resp: String, userFavs: String)(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {

<div class="container">

    @helper.form(routes.Recommend.testsubmit) {

  <div class="starter-template">
    <h3>Recommend test</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">User ID</span>
            <input class="form-control span4" type="text" name="id" id="id" value="1">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Longitude</span>
            <input class="form-control span4" type="text" name="longitude" id="longitude" value="47.385740">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Latitude</span>
            <input class="form-control span4" type="text" name="latitude" id="latitude" value="8.518084">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">JSON</span>
            <input class="form-control span4" type="text" name="jsonoptions" id="jsonoptions" value="">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Max distance (km)</span>
            <input class="form-control span4" type="text" name="maxdistance" id="maxdistance" value="10">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Time</span>
            <input class="form-control span4" type="text" name="time" id="time" value="">
          </div>
          
          </br>
                      
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">test</button>
          <button class="span4 btn btn-primary" type="reset" id="generalsavebutton">reset</button>
        </div>
      </div>
	}      
	
@if(resp!=null) {
      	<h3>Recommended Dishes (@re.dishes.size)</h3>
      	<table class="table table-striped">
      	@for((r, index) <- re.dishes.zipWithIndex)  {	
		  <tr>
		    <td>#@(index+1) @r.name -  @r.price - @r.distance - liked:@r.liked - friendsLiked:@r.friendLikeUrls.size</td>
		  </tr>
		  <tr>
  		    <td>ingredients: @r.ingredients.mkString(", ")</td>
		  </tr>
		  <tr>
  		    <td><img src="@r.url"></img><br>@Html(AdminHelper.mybr)</td>
		  </tr>
		  
		  }
		</table>

      <h3>Raw Output</h3>
      
      <pre>@resp</pre>
      
      <h3>User Favorites</h3>
      
      <pre>@userFavs</pre>
		}
      


      
  </div>


    </div><!-- /.container -->
}