@(form: Form[(String,String,String,String,String,String,String,String,String)], re: Recommendations, resp: String, 
	userFavs: String, id: String, longitude: String, latitude: String, openNow: String, maxdistance: String, 
	minPrice: String, maxPrice: String, maxDishes: String, lastDishID: String)(implicit flash: Flash, session: Session, lang: Lang)

@main(title = "settings") {
<div class="container">

    @helper.form(routes.Recommend.testsubmit) {

  <div class="starter-template">
    <h3>Recommend test</h3>

      <div class="row ">
        <div class="col-sm-8 col-md-offset-2">
          
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">User ID</span>
            <input class="form-control span4" type="text" name="id" id="id" value="@id">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Latitude</span>
            <input class="form-control span4" type="text" name="latitude" id="latitude" value="@latitude">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Longitude</span>
            <input class="form-control span4" type="text" name="longitude" id="longitude" value="@longitude">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Open Now Only</span>
            <input class="form-control span4" type="text" name="openNow" id="openNow" value="@openNow">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Max distance (km)</span>
            <input class="form-control span4" type="text" name="maxdistance" id="maxdistance" value="@maxdistance">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Minimum price</span>
            <input class="form-control span4" type="text" name="minPrice" id="minPrice" value="@minPrice">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Maximum price</span>
            <input class="form-control span4" type="text" name="maxPrice" id="maxPrice" value="@maxPrice">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Maximum dishes to return</span>
            <input class="form-control span4" type="text" name="maxDishes" id="maxDishes" value="@maxDishes">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Last dish ID</span>
            <input class="form-control span4" type="text" name="lastDishID" id="lastDishID" value="@lastDishID">
          </div>
          
          </br>
                      
          <button class="span4 btn btn-primary" type="submit" id="generalsavebutton">test</button>
          <button class="span4 btn btn-primary" type="reset" id="generalsavebutton">reset</button>
        </div>
      </div>
	}      
	
@if(resp!=null) {
      	<h3>Recommended Dishes (@re.dishes.size)</h3>
      	<table class="table table-striped">
      	@for((r, index) <- re.dishes.zipWithIndex)  {	
		  <tr>
		    <td>#@(index+1) @r.name -  @r.price - @r.distance - liked:@r.liked - friendsLiked:@r.friendLikeUrls.size</td>
		  </tr>
		  <tr>
  		    <td>ingredients: @r.ingredients.mkString(", ")</td>
		  </tr>
		  <tr>
  		    <td><img src="@r.url"></img><br>@Html(AdminHelper.mybr)</td>
		  </tr>
		  
		  }
		</table>

      <h3>Raw Output</h3>
      
      <pre>@resp</pre>
      
      <h3>User Favorites</h3>
      
      <pre>@userFavs</pre>
		}
      
  </div>

    </div><!-- /.container -->

}