@(users: Seq[UserStat])(implicit session: Session, lang: Lang)
@main(title = "users") {

@session.get("email").map { user =>
    <div class="container">
	
    @if(session.get("usertype").get.toString.equals("7")) {

      <div class="starter-template">
      	<h1>All @users.size users</h1>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
  
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

      	<table class="table table-striped" id="table_id">
      	  <thead>
      	    <tr>
      	    <th>id</th>
      	    <th>email</th>
      	    <th>FB</th>
      	    <th>name</th>
      	    <th>phone</th>
      	    <th>created</th>
      	    <th>all_time</th>
      	    <th>3_months</th>
      	    <th>month</th>
      	    <th>week</th>
      	    </tr>
      	  </thead>
		  <tbody>		
		@for((user, index) <- users.zipWithIndex)  {
		  <tr>
		  <td><a href="useredit/@user.id"><img src="@routes.Assets.at("img/edit.png")" width="24px" hspace="4" /></a></td>
		  <td>@user.email</td>
		  <td>
  		    @if(user.username != null && user.username.length > 0) {
  		      <a target="_blank" href="https://www.facebook.com/@user.username"><img src="@routes.Assets.at("img/facebook.jpg")" width="24px" /></a>
		    }  
		  </td>
		  <td>@user.fullname</td><td>@user.phone</td><td>@user.createdate.format("dd.MMM.YY")</td>
		  <td>@user.allTime</td><td>@user.threeMonths</td><td>@user.month</td><td>@user.week</td>
		  </tr>
		}
		  </tbody>
		</table>
      </div>
      <script language="Javascript">
        $(document).ready( function () {
    	    $('#table_id').DataTable();
    	} );
      </script>
    </div><!-- /.container -->
    }
  }.getOrElse{
       <div class="starter-template"><h1>you should probably <a href="login">login</a></h1></div>
  }  
}